*{
  margin: 0;
}

@font-face {
  font-family: 'Barlow';
  src: url('barlow.woff2');
  font-weight: normal;
  font-style: normal;
}

section{
  border: 3px solid red;
  display: flex;

}
a{
  text-decoration: none;
}

.first-block{
  width: 55%;
  margin: 0;
}
.main-image{
  width:100%;
  border: 3px solid red;
  margin: 0;
}

.image-container{
  border: 3px green solid;
  width: 100%;
  display: flex;
  justify-content: center;
}

.link-disc{
  border: fuchsia solid 3px;
  width: 35%;
}
.second-block{
  border: #0076B6 solid 3px;
  width: 45%;
}
.second-part{
  border: 3px green solid;
  width: 100%;
  height: 100%;
}

.opening-text{
  border: yellow solid 3px;
  width: 90%;
  color: #7B8A92;
  height: 5%;
  margin-top: 10%;
  font-family:Barlow, sans-serif;
  font-size: 2vw;
  margin-left: 11%;
}

.opening-text_subhead{
  margin-top: 5%;
  font-size: 1vw;
  border: yellow solid 3px;
  width: 90%;
  margin-bottom: 10%;
  margin-left: 11%;
  color: #96A5B1;
  font-family:Barlow, sans-serif;
}

.link-sm{
  border: 3px solid pink;
  width: 99%;
  justify-content: center;
  height: 3%;
  display: flex;
  gap: 7%;
}

.facebook-logo{
  width: 100%;
  height: 100%;
  background-color:#255A9B;
  display: flex;
  border: 3px solid black;
  padding: 3%;
  align-items: center;
}

.linkedin-logo{
  width: 100%;
  height: 100%;
  background-color:#0076B6;
  display: flex;
  border: 3px solid black;
  padding: 3%;
  align-items: center;
}


.link-sm_text{
  height: 100%;
  border: 3px solid black;
  display: flex;
  font-size: 1vw;
  justify-content: center;
  flex-direction: column-reverse;
  margin-left: 3%;
  width: 100%;
  font-family:Barlow, sans-serif;
}

.social-logo_text{
  color: white;
  width: 100%;
}

.social-logo_img{
  height: 80%;
  border: 3px solid black;

}

.or-text{
  margin-left: 51%;
  margin-top:5%;
}