*{
  margin: 0;
}

@font-face {
  font-family: 'Barlow';
  src: url('barlow.woff2');
  font-weight: normal;
  font-style: normal;
}

body{
  background-color: #EFF6FF;
}

main{
  width: 70%;
  margin-left: 15%;
  margin-top: 2%;
  height: 93vh;
  box-sizing: border-box;
}

section{
  display: flex;
  height: 93vh;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

.first-block{
  width: 55%;
  margin: 0;
  position: relative;
}
.main-image{
  width:100%;
  margin: 0;
  height: 99%;
}

.logo{
  position: absolute;
  width: 17%;
  top: 4%;
  left: 6%;
}

.image-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.link-disc{
  width: 35%;
}
.second-block{
  width: 45%;
  height: 100%;
}
.second-part{
  width: 100%;
  height: 99%;
  background-color: #FFFFFF;
}

.opening-text{
  width: 90%;
  color: #7B8A92;
  padding-top: 10%;
  height: 5%;
  font-family:Barlow, sans-serif;
  font-size: 2vw;
  margin-left: 11%;
}

.opening-text_subhead{
  margin-top: 1%;
  font-size: 1vw;
  width: 90%;
  margin-bottom: 10%;
  margin-left: 11%;
  color: #96A5B1;
  font-family:Barlow, sans-serif;
}

.link-sm{
  width: 99%;
  justify-content: center;
  display: flex;
  gap: 7%;
}

.facebook-logo{
  width: 100%;
  height: 80%;
  background-color:#255A9B;
  display: flex;
  padding: 3%;
  align-items: center;
}

.linkedin-logo{
  width: 100%;
  height: 80%;
  background-color:#0076B6;
  display: flex;
  padding: 3%;
  align-items: center;
}

.link-sm_text{
  height: 100%;
  display: flex;
  font-size: 0.8vw;
  justify-content: center;
  flex-direction: column-reverse;
  margin-left: 3%;
  width: 100%;
  font-family:Barlow, sans-serif;
}

.social-logo_text{
  color: white;
  width: 100%;
}

.social-logo_img{
  width: 15%;
  height: 70%;
}

hr{
  width:20%;
  margin-left: 2%;
}
.or{
  display: flex;
  justify-content: center;
  align-items: center;
}

.or-text{
  margin-left: 2%;
  margin-top:5%;
  font-family:Barlow, sans-serif;
  color: #2A4A5C;
  margin-bottom:5%;
  font-size: 1vw;
}

.input-container{
  display: flex;
  justify-content: center;
}

.input-block_em{
  position: relative;
  width: 30%;
  border: #EEEEEE 0.6px solid;
}

.input-block_ph{
  position: relative;
  width: 30%;
  margin-left: 18%;
  border: #EEEEEE 0.6px solid;
}
.labelem{
  margin: 0;
  margin-left: 1px;
  display: block;
  font-family:Barlow, sans-serif;
  color: #AFAFAF;
  font-size: 1vw;
  cursor: pointer;
}

.labelph{
  margin: 0;
  margin-left: 1px;
  display: block;
  font-family:Barlow, sans-serif;
  color: #AFAFAF;
  font-size: 1vw;
  cursor: pointer;
}

.email{
  outline:none;
  border:#EEEEEE;
  width:9vw;
  margin-top: 0;
  padding-top: 2px;
  margin-left:1px;
  bottom: 0;
  cursor: pointer;
}

.phone{
  outline:none;
  border:#EEEEEE;
  width:9vw;
  padding-top: 2px;
  margin-top: 0;
  margin-left:1px;
  bottom: 0;
  cursor: pointer;
}

.hidden{
  position: absolute;
  top: 0;
  background-color: blue;
  width:1.5px;
  height:0;
  transition:0.4s ease;
}
input:focus + .hidden{
  height: 2.5vw;
}

.opening-text-2{
  width: 90%;
  color: #7B8A92;
  height: 3%;
  margin-top: 5%;
  font-family:Barlow, sans-serif;
  font-size: 1.2vw;
  margin-left: 11%;
}

.opening-text_subhead-2{
  margin-top: 4%;
  font-size: 0.8vw;
  width: 90%;
  margin-left: 11%;
  color: #96A5B1;
  font-family:Barlow, sans-serif;
}

.radio-button{
  display: flex;
  margin-top: 10%;
  margin-left: 6%;
  justify-content: space-around;
  position: relative;
  width: 85%;
  height: 13%;
}

.choose{
  display: flex;
  align-items: center;
  gap: 5px;
  height: 20%;
}

.label-radio{
  cursor: pointer;
  font-family:Barlow, sans-serif;
  font-size: 0.9vw;
}

.individual[type="radio"]{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1.45px solid #ccc;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.individual[type="radio"]:checked{
    border-color:white;
    background-color: white;
    box-shadow: inset 0 0 0 4px #007bff;
}

.business[type="radio"]{
      appearance: none;
    width: 20px;
    height: 20px;
    border: 1.45px solid #ccc;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.business[type="radio"]:checked{
    border-color:white;
    background-color: white;
    box-shadow: inset 0 0 0 4px #007bff;
}

.ira[type="radio"]{
      appearance: none;
    width: 20px;
    height: 20px;
    border: 1.45px solid #ccc;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.ira[type="radio"]:checked{
    border-color:white;
    background-color: white;
    box-shadow: inset 0 0 0 4px #007bff;
}

.trust[type="radio"]{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1.45px solid #ccc;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.trust[type="radio"]:checked{
    border-color:white;
    background-color: white;
    box-shadow: inset 0 0 0 4px #007bff;
  }

.discription-individual{
  position:absolute;
  color: #AFAFAF;
  font-family:Barlow, sans-serif;
  font-size: 0.7vw;
  display: none;
  bottom:10%;
  left: 10%;
  box-shadow: 0 0px 10px #96A5B1;
  border-radius: 5px;
  padding: 1%;
  user-select: none;
}

.individual[type="radio"]:checked ~ .discription-individual{
  display: block;
}

.discription-business{
  position:absolute;
  font-family:Barlow, sans-serif;
  font-size: 0.7vw;
  display: none;
  bottom:10%;
  color: #AFAFAF;
  left: 10%;
  box-shadow: 0 0px 10px #96A5B1;
  border-radius: 5px;
  padding: 1%;
  user-select: none;
}

.business[type="radio"]:checked ~ .discription-business{
  display: block;
}

.discription-ira{
  position:absolute;
  font-family:Barlow, sans-serif;
  color: #AFAFAF;
  font-size: 0.7vw;
  display: none;
  bottom:10%;
  left: 10%;
  box-shadow: 0 0px 10px #96A5B1;
  border-radius: 5px;
  padding: 1%;
  user-select: none;
}

.ira[type="radio"]:checked ~ .discription-ira{
  display: block;
}

.discription-trust{
  position:absolute;
  color: #AFAFAF;
  font-family:Barlow, sans-serif;
  font-size: 0.7vw;
  display: none;
  bottom:10%;
  left: 10%;
  box-shadow: 0 0px 10px #96A5B1;
  border-radius: 5px;
  padding: 1%;
  user-select: none;
}

.trust[type="radio"]:checked ~ .discription-trust{
  display: block;
}

.terms{
  display:flex;
  font-size: 0.8vw;
  padding-left: 10%;
  gap: 5px;
  font-family:Barlow, sans-serif;
  color: #AFAFAF;
  margin-top: 10%;
}

.term-lb{
  user-select: none;
}

.terms-link{
  color: lightblue;
  text-decoration-line:underline;
  text-decoration-color: lightblue;
}

.reg{
  display: flex;
  align-items: center;
  margin-top: 10%;
  margin-left: 10%;
  height: 2.5%;
}

.create-button{
  background-color:#3698FB;
  border-radius: 3px;
  width: 39%;
  height:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7vw;
  font-weight: 600;
  text-align: center;
  color:#FFFFFF;
  margin-top: 5%;
  padding: 1.5% 0 1.5% 0;
  font-family:Barlow, sans-serif;
  margin-bottom: 10px;
}



@media (max-height: 960px) {
  .opening-text{
    padding-top: 10%;
  }

  .opening-text_subhead{
    margin-top: 1.5%;
    margin-bottom:8%;
  }
  .opening-text_subhead-2{
    margin-bottom: 5%;
  }

  .terms{
    margin-top: 5%;
  }
}