body {
  position: relative;
  margin: 0;
  padding: 0;
  background: url(https://habsida-lms.s3.ap-northeast-2.amazonaws.com/webcore/shooter.jpg) no-repeat 0 0;
  background-size: auto;
  min-height: auto;
}

.target {
  position: absolute;
  top: 50px;
  right: 50px;
  display: flex;
  justify-content: space-around;
  width: 180px;
  height: 30px;
  margin: 0;
  padding: 5px 5px;
  list-style: none;
  background: white;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  transform: scale(1.2);
  align-items: center;
}

li {
  width: 13px;
  height: 13px;
  font-size: 0;
  background-color: #333333;
  border: 1px solid #333333;
  border-radius: 50%;
  margin-left: 0;
}

/* Добавьте свой код под комментарием */
li {
  background-color: white;
}

.target .first + li,
.target .fourth + li{
  background-color: red;
}